@import "../src/styles/loaders.css";
@import "../src/styles/hero.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
body {
  background-color: #f4f4f6;
  color: #9290a2;
}

* {
  border-radius: 0.9rem;
  border: #c6ccc2;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.App {
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  max-width: 600px;
  width: 95vw;
  border: none;
  padding: 10px;
}

main {
  background: #f4f4f6;
  width: 100%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin-top: 12px;
  margin-bottom: 12px;
}

article {
  margin: 12px;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: auto;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f6;
  max-height: 200px;
}

article > section {
  display: flex;
  flex-direction: column;
  width: 80%;
  text-align: left;
  line-height: 1.5;
}

img {
  background-color: white;
  padding: 2px;
  margin: 6px;
  aspect-ratio: 1;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin-right: 12px;
}

figure {
  display: flex;
  flex-direction: row;
  background-color: #c3c2cc;
  width: auto;
  height: 200px;
  text-align: left;
  line-height: 2;
  padding: 12px;
  padding-left: 24px;
}

figurecaption {
  margin: 12px;
  display: flex;
  flex-direction: column;
  background-color: #a29b90;
  text-align: left;
}

footer {
  display: flex;
  background-color: #c3c2cc;
  width: auto;
  margin-top: 12px;
  height: 100px;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-color: #f4f4f6;
  min-height: 50px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

i {
  margin: 12px;
  margin-right: 24px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 12px;
}

section > h1 {
  color: #0a58bd;
}

hr {
  border: 1px solid black;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.1;
}

header {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #0a58bd;
  color: white;
  font-size: x-large;
  padding: 12px;
}

svg {
  width: 15px;
  margin-right: 3px;
}

article.articleBody {
  background: #f4f4f6;
  width: auto;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin-top: 12px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: none;
}

article.articleBody > h1 {
  color: #0a58bd;
}

main.article__main {
  background: #f4f4f6;
  box-shadow: none;
  text-align: justify;
  width: 90%;
  margin-top: 12px;
  margin-bottom: 12px;
}

a:link,
a:visited {
  color: #0a58bd;
  text-decoration: none;
}

aside {
  display: flex;
  justify-content: space-around;
  margin: 12px;
  padding: 6px;
  width: 90%;
  align-items: center;
  flex-wrap: wrap;
}

/*# sourceMappingURL=index.css.map */
